<body>
  <header>
    <nav class="navbar">
      <div class="logo">ProPruebas</div>
      <ul class="nav-links">
        <li><a>Contact</a></li>
        <li (click)="logOut()"><a>Log out</a></li>
      </ul>
    </nav>
  </header>

  <main>
    @if (option === 0) {
    <section class="hero">
      <h1>Welcome!</h1>
      <p>what do you want?</p>
      <div class="btn-containers">
        <button class="btn" id="btnOp1" type="button" (click)="option = 1">
          Search User<i class="bx bx-search"></i>
        </button>
        <button class="btn" id="btnOp2" type="button" (click)="option = 2">
          Create User <i class="bx bx-user-plus"></i>
        </button>
        <button
          class="btn"
          id="btnReport"
          type="button"
          (click)="generateXmlReport()"
        >
          Generate Report <i class="bx bx-file"></i>
        </button>
      </div>
    </section>

    }@else if (option === 1) {
    <section class="hero">
      <form class="form" [formGroup]="searchForm">
        <h1>Search User</h1>
        <label for="nit">Nit</label>
        <input
          id="nit"
          type="number"
          name="nit"
          formControlName="nit"
          required
        />
        <div class="btn-search">
          <button id="btnCancel" class="btn" type="button" (click)="option = 0">
            Cancel <i class="bx bx-x"></i>
          </button>
          <button id="btnSearch" class="btn" (click)="searchPerson()">
            Search<i class="bx bx-search"></i>
          </button>
        </div>
      </form>
    </section>
    }@else if (option === 2 || option === 4) {

    <section class="hero">
      <form class="form" [formGroup]="personForm">
        @if (option === 2) {
        <h1>Create User</h1>
        }@else {
        <h1>Update User</h1>
        }

        <div class="imputs-container">
          <div>
            <label for="nit">Nit</label>
            <input id="nit" type="number" name="nit" formControlName="nit" />

            <label for="fistName">Fist Name</label>
            <input
              id="fistName"
              type="text"
              name="fistName"
              formControlName="firstName"
              required
            />

            <label for="middleName">Middle Name</label>
            <input
              id="middleName"
              type="text"
              name="middleName"
              formControlName="middleName"
            />

            <label for="lastName1">Surname</label>
            <input
              id="lastName1"
              type="text"
              name="lastName1"
              formControlName="lastName1"
              required
            />
          </div>

          <div>
            <label for="lastName2">Second Surname</label>
            <input
              id="lastName2"
              type="text"
              name="lastName2"
              formControlName="lastName2"
              required
            />

            <label for="birthday">Birthday</label>
            <input
              id="birthday"
              type="date"
              name="birthday"
              formControlName="birthdate"
              [max]="maxDate"
              required
            />

            <label for="phoneNumber">Cellphone number</label>
            <input
              id="phoneNumber"
              type="number"
              name="phoneNumber"
              formControlName="phoneNumber"
              required
            />

            <label for="email">Email</label>
            <input
              id="email"
              type="email"
              name="email"
              formControlName="email"
              required
            />
          </div>
        </div>
        <div class="btn-search">
          @if (option === 2) {
          <button id="btnCancel" class="btn" type="button" (click)="option = 0">
            Cancel <i class="bx bx-x"></i>
          </button>
          <button id="btnCreate" class="btn" type="button" (click)="create()">
            Create<i class="bx bx-search"></i>
          </button>
          }@else {
          <button id="btnCancel" class="btn" type="button" (click)="option = 3">
            Cancel <i class="bx bx-x"></i>
          </button>
          <button
            id="btnEdit"
            class="btn"
            type="button"
            (click)="saveUpdateUser()"
          >
            Update<i class="bx bxs-edit"></i>
          </button>
          }
        </div>
      </form>
    </section>

    }@else if (option === 3) {
    <section class="hero">
      <div class="form">
        <h1>User</h1>
        <div class="imputs-container">
          <div>
            <p class="label">Nit</p>
            <p class="content">{{ person.nit }}</p>

            <p class="label">Fist Name</p>
            <p class="content">{{ person.firstName }}</p>

            <p class="label">Middle Name</p>
            <p class="content">{{ person.middleName }}</p>

            <p class="label">Surname</p>
            <p class="content">{{ person.lastName1 }}</p>
          </div>

          <div>
            <p class="label">Username</p>
            <p class="content">{{ person.userName }}</p>

            <p class="label">Second Surname</p>
            <p class="content">{{ person.lastName2 }}</p>

            <p class="label">Birthday</p>
            <p class="content">{{ person.birthdate }}</p>

            <p class="label">Cellphone number</p>
            <p class="content">{{ person.phoneNumber }}</p>
          </div>
        </div>
        <p class="label">Email</p>
        <p class="content">{{ person.email }}</p>
        <div class="btn-search">
          <button
            id="btnDelete"
            class="btn"
            type="button"
            (click)="deletePerson()"
          >
            Delete <i class="bx bx-x"></i>
          </button>
          <button id="btnEdit" class="btn" type="button" (click)="updateUser()">
            Edit<i class="bx bxs-edit"></i>
          </button>
        </div>
        <button id="btnExit" class="btn" type="button" (click)="goBack()">
          Back<i class="bx bxs-arrow-from-right"></i>
        </button>
      </div>
    </section>
    }
  </main>

  <footer>
    <p>&copy; 2024 ProPruebas. All rights reserved.</p>
  </footer>
</body>
